/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Smythe", system-ui;
}


header {
    background-image: url("images/bg-img.png");
    height: 167px;
    width: 100%;
}

body {
    display: relative;
}

/* Container */
.container {
    max-width: 600px;
    margin: 0 auto;
}

.head-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    padding: 30px 46px;
    gap: 6px
}

.body-container {
    padding: 67px 46px 0 46px;
    height: 100%;

}

.order-container {
    padding: 45px 46px;
}


/* Fonts */
h1,
h2 {
    color: white;
    margin: 0;
}

h1 {
    font-size: 39px;
    font-weight: 100;
}

h2 {
    font-size: 22.42px;
    font-weight: 100;
    margin: 0;
}

h3,
.food-item-name {
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: 100;
}

h4 {
    font-size: 20px;
    font-weight: 100;
}

.price {
    color: black;
    font-size: 20px;
    font-weight: 100;
}

.item-description {
    color: #8B8B8B;
    font-size: 16px;
    padding-bottom: 10px;
}

.subheading {
    text-align: center;
}



/* Item Card */
.food-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 51px;
    border-bottom: 1px solid #D2D2D2;
    margin-top: 45px;
}

.food-card:nth-of-type(1) {
    margin-top: 0px;
}

.card-info {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn-add {
    align-self: center;
}

img {
    align-self: center;
}

i {
    color: grey;
    font-size: 20px;
    cursor: pointer;
    align-self: center;
    padding: 16px 17px;
    border: 2px solid #D2D2D2;
    border-radius: 50%;
}


/* Order Item */
.order-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-price {
    margin: 20px 0;
    padding-top: 20px;
    border-top: 1.5px solid #393333;
    display: flex;
    justify-content: space-between;
}

.btn-submit {
    width: 100%;
    padding: 18px;
    font-size: 26px;
    font-weight: 400;
    background: #16DB99;
    border: none;
    color: black;
    border-radius: 3px;
    cursor: pointer;
}

.remove-item {
    color: lightcoral;
    cursor: pointer;
}

.food-item-name {
    padding-right: 15px;
}

/* Hidden */
.hidden {
    display: none;
}



/* Credit Card Form */

.credit-card {
    max-width: 524px;
    padding: 25px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    height: 500px;
    box-shadow: 0px 0px 100px 20px #666;
    border-radius: 5px;

}


form {
    display: flex;
    flex-direction: column;
}



input {
    padding: 20px;
    margin-bottom: 24px;
    font-size: 20px;
}

.card-details-text {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 46px;
    margin-top: 25px;
}




/* Order Complete */
.order-complete {
    background-color: #ECFDF5;
    margin: 45px 46px;
}

.order-complete-text {
    color: #065F46;
    font-size: 32px;
    padding: 50px 60px;
}